.chatStyle {
  background-color: transparent;
  height: 30px;
  width: 250px;
}

#chat-pop-up {
  height: 264px;
  background: transparent;
  overflow-y: auto;
}

#textarea {
  height: 30px;
  width: 244px;
  background: transparent;
  color: #5B2E48;
}

.btnSend {
  cursor: pointer;
  background-color: #5B2E48;
  color: yellow;
  border-radius: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#msgWindow {
  background: transparent;
  width: 100%;
  height: 274px;
}

.username {
  text-align: center;
  background: transparent;
  color: yellow;
}

#userInput {
  background: transparent;
  color: yellow;
  width: 120px;
}

#userBtn {
  background: transparent;
  color: yellow;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#textarea {
  display: flex;
  margin-top: 6px;
  width: 100%;
}

#msgInput {
  background: transparent;
  color: yellow;
  width: 100%;
}

#user {
  font-size: 70%;
  margin-left: 40px;
  background: transparent;
  color: yellow;
}

#fromServer {
  font-size: 70%;
  margin-right: 50px;
  background: transparent;
  color: yellow;
}

#sendMessages {
  color: yellow;
  background: transparent;
  border: yellow solid;
  border-radius: 5px;
  margin-left: 110px;
  margin-top: 5px;
}

#receiveMessages {
  color: yellow;
  background: transparent;
  border: yellow solid;
  border-radius: 5px;
  margin-right: 110px;
  margin-top: 5px;
}